$size: 20px;
$fondo-de-color: grey;
$grey: grey;
$white: white;
$ancho: 100%;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;


