@import "../partials/variables/variables";


/* -- ==================================================== 
-- MEDIA QUERIES - TABLET 
-- ====================================================  */
@media screen and (max-width:768px) {
    #intro #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;

    }
}

/* -- ==================================================== 
-- MEDIA QUERIES - MOBILE 
-- ====================================================  */

@media (max-width: 576px) {
    #intro {
        width: 90% !important;
    }
}


/* -- ==================================================== 
-- MEDIA QUERIES - DESKTOP 
-- ====================================================  */
@media screen and (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}